@model MvcCv.Models.Entity.Tbl_Sertifikalarim
@{
    ViewBag.Title = "SertifikaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12 p-2">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Sertifika Ekleme Sayfası</h3>
                        </div>
                        <div class="card-body">

                            <form method="post">

                                @Html.Label("Sertifika Açıklaması")
                                @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
                                <br />
                                @Html.Label("Tarih")
                                @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
                                <br />

                                <button class="btn btn-success">Kaydet</button>
                                <br />
                            </form>



                        </div>
                    </div>


                </div>
            </div>

        </div>


    </section>
</body>
</html>