
@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Eğitim Ekleme Sayfası</h4>
<br />
<form method="post">

    <input type="text" name="Baslik" class="form-control" placeholder="Başlığı yazınız" />
    <br />
    <input type="text" name="AltBaslik1" class="form-control" placeholder="Alt Başlığı yazınız" />
    <br />
    <input type="text" name="AltBaslik2" class="form-control" placeholder="Alt Başlığı yazınız" />
    <br />
    <input type="text" name="GNO" class="form-control" placeholder="GNO yazınız" />
    <br />

    <input type="text" name="Tarih" class="form-control" placeholder="Eğitim Tarihi" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
